{% extends "layout.html" %}

{% block body %}

<h2>List of all Favourite Pokemon</h2>
    <ul>
        {% for name, pokemon in pokemon.items() %}
            <li>{{ name }}:
            {% for key, value in pokemon.items() %}
                {% if key == 'img' %}
                    <image src="{{file_location}}/{{value}}"></image>
                {% else %}
                    <span>{{key}} : {{value}}</span>
                    <br>
                {% endif %}

             {% endfor %}
            </li>
        {% endfor %}
    </ul>

{% endblock %}