{% extends "layout.html" %}
<script src="form_validation.js"></script>
{% block body %}
    <h3>Enter your favourite Pokemon</h3>
    <form method = "post" action="/result" enctype="multipart/form-data">
        <p>Name</p>
        <input type="text" name="name" required>
        <br><br>
        <p>Type</p>
        <input type="text" name="type" required>
        <br><br>
        <p>Ability</p>
        <input type="text" name="ability" required>
        <br><br>
        <p>Release Generation</p>
        <input type="text" name="generation" required>
        <br><br>
        <input type="file" name="img" required>
        <br><br>
        <input type="submit" value="Submit">
    </form>
{% endblock %}
