{% extends "layout.html" %}
<script src="form_validation.js"></script>
{% block body %}
    <h3>Enter your favourite Pokemon</h3>
    <form method = "post" action="/result" enctype="multipart/form-data">
        <p>Name</p>
        <input type="text" name="name" id="name" required>
        <br><br>
        <p>Type (Max 2)</p>
        <select name="type" id="type" multiple size="18" required>
            <option value ="normal">Normal</option>
            <option value ="fire">Fire</option>
            <option value ="water">Water</option>
            <option value ="electric">Electric</option>
            <option value ="grass">Grass</option>
            <option value ="ice">Ice</option>
            <option value ="fighting">Fighting</option>
            <option value ="poison">Poison</option>
            <option value ="ground">Ground</option>
            <option value ="flying">Flying</option>
            <option value ="psychic">psychic</option>
            <option value ="bug">Bug</option>
            <option value ="rock">Rock</option>
            <option value ="ghost">Ghost</option>
            <option value ="dragon">Dragon</option>
            <option value ="dark">Dark</option>
            <option value ="steel">Steel</option>
            <option value ="fairy">Fairy</option>
        </select>
        <br><br>
        <p>Ability</p>
        <input type="text" name="ability" id="ability" required>
        <br><br>
        <p>Release Generation</p>
        <input type="text" name="generation" id="generation" required>
        <br><br>
        <input type="file" name="img" required>
        <br><br>
        <input type="submit" value="Submit">
    </form>
{% endblock %}
